* { margin: 0; padding: 0; }

/* body {
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	width: 1600px;
	height: 900px;
	background-color: #121212;
	user-select: none;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	overflow: hidden;
	clip-path: inset(0 0 0 0);
} */
body {
	width: 100vw;
	height: 100vh;
	background-color: black;
	user-select: none;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	overflow: hidden;
}	
